.App {
  text-align: center;
}

.App-header {
  padding: 1rem;
  border-bottom: 1px solid whitesmoke;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.explanation {
  padding: 1rem;
  max-width: 30rem;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke;
}

input {
  border: 1px solid grey;
  padding: 1rem;
}
